.form-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #ecde7e;
  text-align: center;
}


.form-container h2 {
  margin-bottom: 20px;
}

.form-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.form-container button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #218838;
}

@media (max-width: 600px) {
  .form-container {
    width: 90%;
    margin: 50px auto;
  }
}
